* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* default */

:root {
    --primary-color: #df8200; /* Orange */
    --secondary-color: #50b730; /* Dark Blue */
    --tertiary-color: #11b8d8; /* Red */
    --background-color: #FAF3E0; /* Light Grey */
    --navbar-background-color: #00000093; /* black */
    --navbar-scroll:#df8200;
    --text-color: #090c1b; /* Dark Blue */
    --card-hover: #50b730;
}

/* theme 2 */
    .theme-2 {
    --primary-color: #df8200; /* Orange */
    --secondary-color: #11b8d8; /* light green */
    --tertiary-color: #11b8d8; /* blue */
    --background-color: #FAF3E0; /* Light Grey */
    --navbar-background-color: #4141419c; /* black */
    --navbar-scroll: #11b8d8;
    --text-color: #292928; /* Dark Blue */
    --card-hover: #11b8d8;
    }

/* theme 3 */
.theme-3 {
    --primary-color: #df8200; /* Orange */
    --secondary-color: #ff5733; /* light green */
    --tertiary-color: #11b8d8; /* blue */
    --background-color: #FAF3E0; /* Light Grey */
    --navbar-background-color: #6463639c; /* black */
    --navbar-scroll: #090c1b;
    --text-color: #090c1b; /* Dark Blue */
    --card-hover: #faf3e0;;
    }

/* theme 4 */
.theme-4 {
    --primary-color: #f48d00; /* Orange */
    --secondary-color: #50b730; /* light green */
    --tertiary-color: #11b8d8; /* blue */
    --background-color: #FAF3E0; /* Light Grey */
    --navbar-background-color: #6463639c; /* black */
    --navbar-scroll: #000000cb;
    --text-color: #090c1b; /* Dark Blue */
    }


html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'roboto';
    margin: 0px;
    padding: 0px;
    background-image: url(hero-background.png);
    background-size: 100%;
    
}

/* background container */

.background-container {

    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff13;
    
}

/* full-header */



/* header top */

.header-top {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--navbar-background-color);
    

    .logo {
        width: 100px;
    }
}

/* main header */

header {

    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color:#ECF0F1;
    background-color: var(--navbar-background-color);
    position: sticky;
    top: 0;
    z-index: 9999; /* Ensures it stays on top of other content */
    transition: background-color 0.3s ease;



    .container {

        .nav {

            ul {

                display: flex;
                flex-direction: row;
                list-style-type: none;
                padding: 0px;
                margin-top: 20px;
                margin-bottom: 20px;
                
                li a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #ffff;
                    margin: 15px;
                }
            }
        }
    }
}


    /* Scrolled Header Style */
    header.scrolled {
        background-color: var(--navbar-scroll); /* Change to your desired color */
        color: var(--text-color); 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Add a stronger shadow */
      }
    

/* hero section */

.hero {
    background-color: #00000065;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;

    .hero-content {

        margin-top: 40px;
        margin-right: 250px;
        
        h1 {
            line-height: 1.6;
            text-transform: uppercase;
            font-size: 40px;
            margin-top: 0px;
            margin-bottom: 20px;
            color: #ffffff;
        }

        p {
            color: #ffff;
            font-size: 25px;
            font-weight: bolder;
            text-decoration: underline;
            text-decoration-color: var(--primary-color);
            text-underline-offset: 8px;
            margin-bottom: 20px;

        }

        .btn-primary {
            background-color: var(--primary-color);
            padding: 15px;
            color: white;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
            border-radius: 10px;
            border-style: none;
            cursor: pointer;
            
        
        }

        .btn-primary:hover {
            background-color: var(--secondary-color);
            transition: all 0.3s ease;
        }
    }
    
    .hero-image-right {

        display: inline-block;
        overflow: hidden;
        width: 400px;
        height: 400px;
        
        img {
            width: 90%;
            height: 90%;
            transition: transform 0.3s ease-in-out;
        }
    }

    .hero-image-right img:hover {
        transform: scale(1.1);
        transition: ease-in-out;
}
}
/* products and services */

.services-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
}

.section-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
}

.service-cards-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
}



.service-card {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 15px;
    border-style: var(--secondary-color);
    border-width: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 460px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card-2 {
    background-color: #faf3e0;
    padding: 20px;
    margin-top: 35px;
    border-radius: 15px;
    border-style: var(--secondary-color);
    border-width: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 256px;
    height: 220px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}


.service-card:hover, .service-card-2:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    background-color: var(--card-hover);
    transition: all 0.3s ease;
}

.service-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    object-fit: contain;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
}


.service-2-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    object-fit: contain;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
}

.service-title {
    font-size: 1.2em;
    color: var(--text-color);
    margin-bottom: 15px;
    text-transform: uppercase;
}


.service-description {
    font-size: 1em;
    color: var(--text-color);
}



/* about us */

.about-us {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 70px;

    h1, h2, p {
        color: var(--text-color);
        margin-bottom: 20px;
    }

    p {
        line-height: 1.5;
        font-size: 17px;
    }

    .container {
        margin-right: 200px;

        .about-features {
            display: flex;

            ul {

                list-style-type: none;

                li {
                    font-weight: bold;
                    font-size: 15px;
                    margin: 0px;
                    padding: 0px;
                }
            }

            .ul-left {
                padding-left: 0px;
                padding-right: 50px;

                
                img {
                    
                    width: 15px;
                    margin-right: 10px;
                    padding-top: 10px;
                }
            }

        }

        .btn-primary {
            background-color: var(--primary-color);
            padding: 15px;
            color: white;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
            border-radius: 10px;
            border-style: none;
            margin-top: 20px;
            margin-bottom: 20px;
            cursor: pointer;
        
        }

        .btn-primary:hover {
            background-color: var(--secondary-color);
            transition: all 0.3s ease;
        }
    }

    img {
        width: 560px;
    }
}

/* Brands */

.brands {

    background-color: #ffffff;
    

    padding-top: 20px;

    .container {
        

        .brand-intro {

        
        display: flex;
        flex-direction: row;
        }

        img {
            width: 90px;
            height: 90px;
            margin-top: 25px;
            margin-right: 10px;
         
        }

        .intro-text {
            margin-right: 150px;
            margin-top: 30px;
    
        }

        .brand-logos {
            
            img {
               
                margin-right: 50px;
                margin-top: 20px;
            }
        }
    }
}

/* INITIATIVES */

.more-projects {
text-align: center;
    .toggle-btn {
        background-color: var(--primary-color);
        padding: 15px;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
        border-style: none;
        margin-top: 40px;
        cursor: pointer;
    
    }

    .toggle-btn:hover {
        background-color: var(--secondary-color);
        transition: all 0.3s ease;
    }
}

.projects {

    background-color: #ffffff;
    .container {
        text-align: center;
        padding-top: 30px;

        .section-title {
            margin-bottom: 30px;
        }
       

        .sdg-7 {
            display: flex;
            flex-direction: row;
            border-radius: 10px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: var(--background-color);

            img {
                width: 300px;
                border-radius: 10px;
            }

            .sdg-7-text {
                text-align: left;
                margin-top: 5px;
                margin-left: 20px;
                margin-right: 20px;
                padding-top: 20px;

                h3 {
                    font-size: 25px;
                    text-transform: uppercase;
                    font-size: 1.2em;
                    color: #333;
                    margin-bottom: 15px;
                }

                p {
                    color: #333;
                    font-size: 17px;
                    text-align: justify;
                }

            }
        }

        .btn-primary, .toggle-btn {
            background-color: var(--primary-color);
            padding: 15px;
            color: white;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
            border-radius: 10px;
            border-style: none;
            margin-top: 40px;
            cursor: pointer;
        
        }
    }
}
.more-projects {
    background-color: #ffffff;
}
.more-projects .toggle-btn .plus-sign {
    font-size: 19px; /* Adjust size as needed */
    margin-right: 5px;
    font-weight: bold; /* Optional for making it stand out */
    
}


/* TEAM */

.team {
    background-color: #ffffff;
}

.team .container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


.team .container .team-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    

    .team-item {
        img {
            width: 350px;
            margin: 20px;
            margin-bottom: 0px;
            margin-top: 0px;
            border-radius: 20px;
        }

        h2 {
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        p {
            line-height: 1.5;
            font-weight: bold;
        }

        .team-description {
            padding-top: 10px;
            padding-right: 10%;
            padding-left: 10%;
            text-align: justify;
            font-weight: normal;
        }
    }
}

/* contact */

.contact {
    background-image: url('contact\ background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact .container {

    display: flex;
    flex-direction: row;
    background-color: #2424248f;
    

    .contact-form {
        margin: 40px;
        
        form {   
            background-color: #ffffff;
            padding: 60px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            margin: 35px;

            input, textarea {
                margin-bottom: 5px;
                background-color: var(--background-color);
                border-style: none;
                font-size: 15px;
                padding: 15px;
                font-family: 'Roboto';
            }

            .btn-primary {
                background-color: var(--primary-color);
                padding: 5px;
                color: white;
                text-transform: uppercase;
                font-size: 17px;
                font-weight: bold;
                border-radius: 5px;
                border-style: none;
            }

            .btn-primary:hover {
                background-color: var(--secondary-color);
                transition: all 0.3s ease;
            }
        }
    }
    
    form h2 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        color: var(--text-color);
    }

    .contact-text {
        margin-top: 40px;
        margin-right: 100px;
        h2 {
            font-size: 42px;
            color: #ffff;
            margin-top: 45px;
            margin-bottom: 10px;
        }

        p {
            color: #ffff;
            font-size: 25px;
            line-height: 1.5;
            margin-bottom: 10px;
            font-family: 'roboto';
        }
    }
}

.btn-list .btn-item {
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    margin: 10px;
    padding: 5px;
    border-width: 0px;
    border-radius: 20px;
    padding-right: 20px;
}

.contact-text .btn-list .btn-item p {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin: 3px;
    padding-top: 5px;
    
}

.contact-text .btn-list .btn-item img {
    width: 37px;
    background-color: #ffff;
    padding: 10px;
    margin: 0px;
    border-radius: 50%;
}

/* footer */

/* FOOTER */

  /* Footer Container */
  .footer-container {
    background-color: #f5f5f5;
    color: #333;
    padding: 20px 50px;
    border-top: 1px solid #ddd;
}

/* Footer Content */
.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer-section {
    flex: 1;
    margin: 0 10px;

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        font-family: 'roboto';
        text-decoration: none;
        
        li {
            margin-bottom: 5px;
            font-family: 'roboto';
            text-decoration: none;
        }
    }
}

.footer-section-img {
    flex: 1;
    margin: 0 10px;
    margin-right: 250px;
}


.footer-section h3 {
    font-size: 20px;
    font-family: 'roboto';
    margin-bottom: 10px;
    color: #444;
}

.footer-section p {
    font-size: 25pxpx;
    line-height: 1.5;
    font-family: 'roboto';
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit; 
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #666;
    font-family: 'roboto';
}

/* Container Styling */
.input-container {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Centering */
}

/* Input Field */
.email-input {
    width: 290px;
    padding: 15px 80px 10px 15px; /* Left and right padding */
    border: 1px solid #adabab;
    border-radius: 10px; /* Rounded corners */
    font-size: 1rem;
    background-color: #f5f5f5;
    display: none;

}

/* Submit Button */
.email-submit-button {
    position: absolute;
    right: 5px; /* Position inside input */
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff; /* Button color */
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    border-radius: 10px; /* Rounded button */
    padding: 5px 7px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}

.email-submit-button:hover {
    background-color: #f5f5f5;; /* Button hover effect */
}

.button-icon {
    width: 25px;   /* Adjust the icon size */
    height: 25px;  /* Adjust the icon size */
    
}



/* Media Queries */

/* Mobile-specific adjustments */
@media (max-width: 990px) {
  
    /* header top */

    body {
        background-image: none;
    }

    .header-top {
        .logo {
            width: 60px;
            height: 60px;
            margin-top: 6px;
        }
   }

   /* Hamburger Icon */
#toggleButton {
    font-size: 1.5rem; /* Adjust size */
    color: #ffffff;
    background-color: #00000000;
    border-style: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin-top: 17px;
    margin-left: 15px;
    width: 50px;

}

   .header {
    background-color: #242323d3;
    display: none; /* Hide links by default */
    text-align: center;
   }

   .header.active {
    display: flex;
  }

   .header .container .nav ul {
    display: flex;
    flex-direction: column;
    
   }

   .header .container .nav ul li {
    margin-top: 10px;
    
   }

   /* hero */

   .header-top {
    background-color: #333333ee;
    
   }

   .hero {
    background-image: url(hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   }

   .hero .hero-image-right {
    display: none;
   }

   section#home.hero {
    padding-left: 0px;
    padding-top: 30px;
   }

   .hero .hero-content {
    text-align: center;
    margin: 0px;

        h1 {
            font-size: 25px;
        }

        .btn-primary {
            padding: 10px;
        }

   }

   /* services */

   .services-section .service-cards-2 {
    margin-top: 30px;
   }

   .services-section .service-card-2 {
    padding: 20px;
    width: 350px;
    height: 250px;
    margin-top: 0px;
   
   }

   .services-section .service-card {
    width: 350px;
    height: 450px;
   }

   .services-section .service-card-2 .service-2-icon {
    width: 70px;
    height: 70px;
   }

   /* about us */

   .about-us {
    padding-bottom: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
   }

   .about-us .container {
    margin-right: 50px;
   }

   .about-us img {
    display: none;
   }

   .about-us .container .about-features .ul-left {
    padding-right: 10px;
   }

   .about-us .container .about-features .ul-left li {
    font-size: 12px;
   }

   .about-us .container .about-features .ul-right li {
    font-size: 12px;
   }

   .about-us .container .about-features .ul-right li img {
    width: 12px;
   }

   .about-us .container .about-features .ul-left li img {
    width: 12px;
   }

   /* brands */

   .brands .container .brand-intro{
    display: flex;
    flex-direction: column;
   }

   .brands {
    display: none;
   }

   /* brands mobile */

   .brands-title {
    display: flex;
    text-align: center;
    justify-content: center;

    .section-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

   }

   .carousel-container {
    width: 100%;
    overflow: auto; /* Allow scrolling */
    position: relative;
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
    display: flex;
  }

  .carousel {
    display: flex;
    transition: transform 0.3s ease;
    padding: 10px;

  }

  .carousel img {
    width: 20%; /* Adjusted to show 4 images */
    flex-shrink: 0;
    object-fit: fill;
    padding: 5px;
    scroll-snap-align: start; /* Snap each image */
  }

   /* projects desktop */
   .projects .container .sdg-7-desktop {
    display: none;
   }
  

   /* projects mobile */

   .projects .container .sdg-7 {
    display: flex;
    flex-direction: column;
    margin: 0px;
    border-radius: 0px;

        img {
            width: 100%;
        }
   }

   .projects .container .section-title {
    margin-top: 40px;
    margin-bottom: 20px;
   }

  

   /* our team */

   .team .container .team-grid {
    display: flex;
    flex-direction: column;
   }

   .team .container .team-grid {
    .team-item {
        margin-top: 10px;
    }
   }

   /* contact */

   .contact .container .contact-text {
    display: none;
   }

   .contact .container .contact-form {
    margin: 0px;
   }

 

   /* footer */

  /* Footer Container */
  .footer-container {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 20px 50px;
    border-top: 1px solid #ddd;
}

/* Footer Content */
.footer-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer-section {
    flex: 1;
    margin: 0 10px;

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        font-family: 'Helvetica Now Display';
        
        li {
            margin-bottom: 5px;
            margin-bottom: 10px;
        }
    }
}

.footer-section-img {
    display: none;
}


.footer-section h3 {
    font-size: 20px;
    font-family: 'Bebas Neue';
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #444;
}

.footer-section p {
    font-size: 25px;
    line-height: 1.5;
    font-family: 'Helvetica Now Display';
    
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #666;
    margin-top: 15px;
}

/* Container Styling */
.input-container {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Centering */
}

/* Input Field */
.email-input {
    width: 290px;
    padding: 15px 80px 10px 15px; /* Left and right padding */
    border: 1px solid #adabab;
    border-radius: 10px; /* Rounded corners */
    font-size: 1rem;
    background-color: #f5f5f5;;

}

/* Submit Button */
.email-submit-button {
    position: absolute;
    right: 5px; /* Position inside input */
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff; /* Button color */
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    border-radius: 10px; /* Rounded button */
    padding: 5px 7px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.email-submit-button:hover {
    background-color: #f5f5f5;; /* Button hover effect */
}

.button-icon {
    width: 25px;   /* Adjust the icon size */
    height: 25px;  /* Adjust the icon size */
    
}

}

@media (min-width: 490px) {

    .icon {
        display: none;
    }

    .mobile-ctn {
        display: none;
    }

    .carousel-container, .brands-title, .sdg-7-mobile {
        display: none;
    }

    #toggleButton {
        display: none;
    }

}

@media (max-width: 1192px) {

.hero {
    padding-left: 70px;
}

.hero .hero-image-right img {
    width: 400px;
    padding-right: 100px;
}

.about-us .container {
    margin-right: 50px;
} 
.about-us .container .image-container img {
    width: 200px;
}

.about-us .about-features ul.ul-left {

   li {
    font-size: 10px;
   }
}


/* brands */

.brands .container .brand-logos {
            
    img {
       
        margin-right: 20px;
        margin-top: 20px;
        width: 70px;
        height: 70px;
    }
}

.team .container .team-grid {

    .team-item {
        img {
            width: 290px;
            margin: 20px;
            margin-bottom: 0px;
            margin-top: 0px;
            border-radius: 20px;
        }
}

}


/* products and services */


.service-card {

    width: 250px;
    height: 260px;

}

.service-card-2 {
    padding: 20px;
    padding-bottom: 60px;
    margin-top: 35px;
    width: 180px;
    height: 270px;

}

.projects .container .sdg-7 .sdg-7-text {
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 0px;
}

}
















